section.team {
	background:white;
	a {
		text-decoration:none;
		color:inherit;
	}
	.team-intro {
		color:@text-grey;
		font-family:@secondary-font;
		padding-left:2rem;
		padding-right:2rem;
		padding-top:2rem;
	}
	.in-house-team {
		padding:3rem;
		h3 {
			color:black;
			font-family:@primary-font-bold;
			text-transform:uppercase;
			font-size:2em;
		}
		hr {
			width:20%;
			border:1px solid @text-grey;
		}
	}
	.freelancers {
		padding:3rem;
		padding-top:0;
		h3 {
			color:black;
			font-family:@primary-font-bold;
			text-transform:uppercase;
			font-size:2em;
		}
		hr {
			width:20%;
			border:1px solid @text-grey;
		}
	}
	.team-member {
		position:relative;
		overflow:hidden;
		display:inline-block;
		padding-left:2rem;
		padding-right:2rem;
		margin-top:2rem;
		.team-member-image {
			width:200px;
			height:200px;
			background-size:cover;
			background-position:center;
		}
		.sam-lyons {
			background-image:url(../../images/sam-lyons.jpg);
		}
		.marie-therese {
			background-image:url(http://placehold.it/200x200);
		}
		.artur-leitis {
			background-image:url(http://placehold.it/200x200);
		}
		.philip-corbally {
			background-image:url(http://placehold.it/200x200);
		}
		.andre-lacerda {
			background-image:url(../../images/andre-lacerda.jpg);
		}
		.robert-kamenicky {
			background-image:url(http://placehold.it/200x200);
		}
		.aidan-mccarthy {
			background-image:url(../../images/aidan-mccarthy.jpg);
		}
		.carol-hevia {
			background-image:url(../../images/carol-hevia.jpg);
		}
		.conor-fleming {
			background-image:url(../../images/conor-fleming.jpg);
		}
		.emma-carroll {
			background-image:url(../../images/emma-carroll.jpg);
		}
		.juliana-scodeler {
			background-image:url(../../images/juliana-scodeler.jpg);
		}
		.jaroslaw-narkiewicz {
			background-image:url(../../images/jaroslaw-narkiewicz.jpg);
		}
	}
	.team-member-overlay {
		background:@primary-color;
		height:100px;
		position:absolute;
		width:200px;
		top:100%;
		padding:1rem;
		text-align:left;
		opacity:0.9;
		p {
			color:white;
			font-family:@primary-font-reg;
			text-transform:uppercase;
			&:first-child {
				font-size:1.2em;
				margin:0;
			}
			&:nth-child(2) {
				font-size:0.7em;
			}
		}
	}
	.lightbox {
		position:fixed;
		background:@text-grey + 130;
		padding:2rem;
		border-radius:4px;
		color:@text-grey;
		display:none;
		h3 {
			font-family:@primary-font-reg;
			text-transform:uppercase;
			color:black;
			font-weight:normal;
			font-size:1.3em;
		}
		p {
			font-family:@secondary-font;
			text-align:left;
		}
		.social-links {
			text-align:right;
			color:@secondary-color;
			i {
				font-size:2em;
				padding-left:1rem;
				padding-right:1rem;
				&:hover {
					color:@secondary-color - 30;
				}
			}
		}
		.icon-exit {
			position:absolute;
			top:0.5rem;
			right:0.5rem;
			font-size:2em;
			color:@primary-color;
			&:hover {
				color:@primary-color - 30;
			}
		}
	}
}