section.our-vision {
	.content {
		background:white;
		padding:3rem;
		font-family:@secondary-font;
		ul {
			color:@text-grey;
			li {
				line-height:2em;
			}
		}
		.column.full.text-center {
			p {
				color:black;
				font-size:1.5em;
			}
		}
	}
}