@media screen and (max-width: 69rem) {
	.wk-box {
		font-size:0.8em;
	}
}
@media screen and (max-width: 60rem) {
	div.wk-panel-items > div > div {
		width:90%;
		padding-top:1rem;
	}
	.wk-main {
		//height:60rem;
		& > section {
			width:50%;
			//height:10rem;
			.wk-icon-close {
				//top:6rem;
				right:1rem;
			}
			
		}
		& > section.wk-expand {
			left:0;
			top:0;
		}
		.wk-content {
			padding-top:3rem;
		}
	}
}

@media screen and (max-width: 48rem) {
	div.wk-panel-items#wk-panel-work-items {
	    p {
	        font-size:1em;
	    }
	}
	div.wk-panel-items > div.wk-show-work {
		top:40%;
		background: rgba(255, 255, 255, 1);
	}
}

@media screen and (max-width: 30rem) {
	.wk-main {
		& > section {
			.wk-icon-close {
				//top:3rem;
				right:1rem;
			}
		}
		.wk-content {
			padding-top:0;
		}
	}
	.wk-box {
		&:not(:last-child) {
            border-bottom:1px solid #fff;
        }
	}
	nav > div.wk-show-work {
        z-index: 1000;
        opacity: 1;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
        -moz-transition: -moz-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
    }
    div.wk-panel-items > div.wk-show-work {
		top:40px;
		background: rgba(255, 255, 255, 1);
	}
}

@media screen and (max-width: 30rem) {
	.wk-main {
		//height:120rem;
		& > section {
			width:100%;
			//height:10rem;
			
		}
		& > section.wk-expand {
			left:0;
			top:0;
		}
	}
}
@media screen and (max-width: 961px) {
	.wk-main {
		height:auto;
	}
}