/* Small screens (default) */
html {
  font-size: 100%;
}
/* Medium screens (640px) */
@media (min-width: 40rem) {
  html {
    font-size: 112%;
  }
}
/* Large screens (1024px) */
@media (min-width: 64rem) {
  html {
    font-size: 120%;
  }
}
@media (min-width: 40rem) {
  .column.flow-opposite {
    float: right;
  }
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}
@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .column.full {
    width: 100%;
  }
  .column.two-thirds {
    width: 66.7%;
  }
  .column.half {
    width: 50%;
  }
  .column.third {
    width: 33.3%;
  }
  .column.fourth {
    width: 24.95%;
  }
  .column.flow-opposite {
    float: right;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.fixed {
  position: fixed;
}
.text-center {
  text-align: center;
}
.display-none {
  display: none;
}
.v-align:after {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
  content: '';
}
.v-align > .v-aligned {
  display: inline-block;
  vertical-align: middle;
}
.neon {
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
  -moz-animation: neon 1.5s ease-in-out infinite alternate;
  -o-animation: neon 1.5s ease-in-out infinite alternate;
  -ms-animation: neon 1.5s ease-in-out infinite alternate;
  animation: neon 1.5s ease-in-out infinite alternate;
}
.neonsvg {
  -webkit-animation: neonsvg 1.1s ease-in-out infinite alternate;
  -moz-animation: neonsvg 1.1s ease-in-out infinite alternate;
  -o-animation: neonsvg 1.1s ease-in-out infinite alternate;
  -ms-animation: neonsvg 1.1s ease-in-out infinite alternate;
  animation: neonsvg 1.1s ease-in-out infinite alternate;
}
.icon-nudge {
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -ms-transition: margin-left 0.3s;
}
.plug-rotate,
.icon-rotate {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.plug-rotated {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.icon-rotated {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.scroll-down-animation {
  -webkit-animation: scrolldown 0.8s ease-in-out infinite;
  -moz-animation: scrolldown 0.8s ease-in-out infinite;
  -o-animation: scrolldown 0.8s ease-in-out infinite;
  -ms-animation: scrolldown 0.8s ease-in-out infinite;
  animation: scrolldown 0.8s ease-in-out infinite;
}
nav {
  height: 2.5rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  text-align: center;
  z-index: 1000;
  /*&.nav-reduced {
		height:2.5rem;
		a {
			line-height:2.5rem;
			height:2.5rem;
		}
	}*/

}
nav ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
nav li {
  display: inline;
  border-right: 1px solid white;
}
nav li.nav-active a {
  background-color: rgba(0, 0, 0, 0.1);
}
nav li:last-child {
  border-right: 0;
}
nav li a {
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 0.9em;
  font-family: 'bauframedium';
}
nav a {
  color: white;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 2.5rem;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -ms-transition: background 0.2s;
}
nav a:hover {
  background: rgba(0, 0, 0, 0.4);
}
nav a:active {
  background: rgba(0, 0, 0, 0.4);
}
nav #nav-toggle {
  display: none;
  height: 2.5rem;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  -ms-transition: background 0.3s;
}
nav #nav-toggle:hover {
  background: rgba(0, 0, 0, 0.4);
}
nav #nav-toggle .svg-icon-nav {
  display: inline-block;
  position: relative;
  float: left;
  max-width: 2rem;
  max-height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  vertical-align: middle;
  margin-left: -1rem;
  margin-top: 0.2rem;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -ms-transition: margin-left 0.3s;
}
nav #nav-toggle .svg-icon-nav:hover {
  margin-left: -0.6rem;
}
nav #nav-toggle i {
  float: right;
  font-size: 2em;
  vertical-align: middle;
  line-height: 2.5rem;
  margin-right: 0.7rem;
}
/*

nav {
	height: 40px;
	width: 100%;
	background:rgba(0, 0, 0, 0.4);
	position: fixed;
	text-align:center;
	z-index:1000;
}
nav ul {
	padding: 0;
	margin-top:0;
	margin-bottom:0;
}
nav li {
	display: inline;
}
nav a {
	color: white;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav li a {
	border-right: 1px solid white;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding-left:4rem;
	padding-right:4rem;
	font-size:0.9em;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background:rgba(0, 0, 0, 0.4);
}
nav a#nav-toggle {
	display: none;
	height:40px;
	.svg-icon-nav {
		display: inline-block;
		position: relative;
		float:left;
		max-width: 2rem;
		max-height:2rem;
		vertical-align: middle;
		margin-left:-1rem;
		margin-top:0.2rem;
	}
}
*/.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  font-size: 16px;
}
header.home-header {
  z-index: -100;
}
header.home-header .home-header-bg {
  background-color: rgba(231, 76, 60, 0.93);
  width: 100vw;
  height: 100vh;
}
header.home-header .header-img {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}
.header-text-and-logo {
  width: 100%;
  top: 25vh;
  z-index: -2;
}
.header-text-and-logo .svg-icon {
  display: inline-block;
  position: relative;
  width: 50%;
  max-height: 9rem;
  max-width: 9rem;
  vertical-align: middle;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.header-text-and-logo .home-header-text {
  color: white;
}
.header-text-and-logo .home-header-text h1 {
  font-size: 3.3em;
  margin: 0;
  font-family: 'coolvetica_rgregular';
  font-weight: normal;
}
.header-text-and-logo .home-header-text p.tagline {
  text-transform: uppercase;
  font-family: 'baufraregular';
  margin: 0;
  padding-top: 0.4rem;
}
.plug-and-socket {
  position: fixed;
  left: 0;
  top: 7rem;
}
.plug-and-socket .socket {
  margin-left: 2rem;
}
.plug-and-socket .plug {
  position: absolute;
  margin-top: -4.3rem;
  left: -6rem;
  cursor: pointer;
  cursor: hand;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.scroll-down {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  height: 1.2rem;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  -ms-transition: height 0.3s;
  cursor: pointer;
  cursor: hand;
}
.scroll-down:hover {
  height: 1.5rem;
}
.scroll-down:hover .semi-circle {
  height: 2.3rem;
  width: 4.5rem;
  margin-top: -2.3rem;
}
.scroll-down .semi-circle {
  height: 2rem;
  width: 4rem;
  margin: 0 auto;
  margin-top: -2rem;
  border-radius: 90px 90px 0 0;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: height 0.3s, width 0.3s, margin-top 0.3s;
  transition: height 0.3s, width 0.3s, margin-top 0.3s;
  -moz-transition: height 0.3s, width 0.3s, margin-top 0.3s;
  -o-transition: height 0.3s, width 0.3s, margin-top 0.3s;
  -ms-transition: height 0.3s, width 0.3s, margin-top 0.3s;
}
.scroll-down .semi-circle.semi-circle-hover {
  height: 2.3rem;
  width: 4.5rem;
  margin-top: -2.3rem;
}
.scroll-down .chevron {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background-color: white;
  color: black;
  margin: 0 auto;
  margin-top: -1rem;
  text-align: center;
  -webkit-animation: scrolldown 0.8s ease-in-out infinite;
  -moz-animation: scrolldown 0.8s ease-in-out infinite;
  -o-animation: scrolldown 0.8s ease-in-out infinite;
  -ms-animation: scrolldown 0.8s ease-in-out infinite;
  animation: scrolldown 0.8s ease-in-out infinite;
}
.scroll-down .chevron i {
  font-size: 1.6em;
  color: #2c3e50;
}
.header-spacer {
  height: 100vh;
}
section.what-we-do {
  background-color: #ecf0f1;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  position: relative;
}
section.what-we-do .what-we-do-block {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
section.what-we-do h2 {
  font-family: 'baufrabold';
  font-size: 4em;
  margin-bottom: 0;
}
section.what-we-do p.what-we-do-description {
  font-family: 'bulolight';
  font-size: 1.3em;
}
section.what-we-do h3 {
  font-family: 'bauframedium';
  font-weight: normal;
  font-size: 1.8em;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
section.what-we-do i {
  font-size: 5em;
  color: #2c3e50;
}
section.what-we-do p {
  font-family: 'bulolight';
}
section.what-we-do ul.what-we-do-list {
  padding: 0;
}
section.what-we-do ul.what-we-do-list li {
  display: inline-block;
  list-style-type: none;
  font-family: 'bauframedium';
  text-transform: uppercase;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.4em;
}
.plug-scroll {
  width: 100%;
  text-align: center;
  z-index: 103;
  position: fixed;
  top: -30rem;
}
.process {
  background: #3498db;
  color: white;
  width: 100%;
  padding: 5rem;
  font-size: 1.3em;
  position: relative;
}
.process .clearfix {
  margin-top: 4rem;
  margin-bottom: 10rem;
}
.process .clearfix:last-child {
  margin-bottom: 5rem;
}
.process .clearfix .box {
  width: 30%;
  height: 10rem;
  border: 2px solid white;
  margin: 0 auto;
}
.process .clearfix .box p {
  font-family: 'baufraregular';
}
.process .clearfix .column.half {
  text-align: center;
}
.process .clearfix .column.half p {
  padding-right: 5rem;
  font-family: 'baufraregular';
}
.process .clearfix .column.half.flow-opposite p {
  padding-left: 5rem;
  padding-right: 0;
}
.process i {
  border: 2px solid white;
  padding: .5em;
  border-radius: 50%;
  font-size: 2.5em;
}
.sticky {
  position: fixed;
  top: -30rem;
}
.office-img {
  background: url('../../images/office.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 103;
  text-align: center;
}
.office-img .darken {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}
.office-img h3 {
  color: white;
  font-family: 'baufrabold';
  text-transform: uppercase;
  margin: 0;
  font-size: 2.5em;
}
.office-img button {
  color: white;
  font-family: 'baufraregular';
  font-size: 1.4em;
  text-transform: uppercase;
  width: 15rem;
  height: 5rem;
  border: 1px solid white;
  background: none;
  margin-top: 3rem;
}
header.about-header {
  z-index: -1;
  background: url(../../images/digitaldepot.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.header-text {
  width: 100%;
  top: 40vh;
  color: white;
  z-index: -1;
}
.header-text h1 {
  font-size: 7em;
  margin: 0;
  font-family: 'baufrabold';
  text-transform: uppercase;
}
.block-work-better {
  background: #e74c3c;
  height: 20rem;
}
.block-work-better p {
  font-family: 'baufraregular';
  font-size: 2.4em;
  text-transform: uppercase;
  color: white;
  vertical-align: center;
  line-height: 20rem;
  margin: 0;
}
section.about-us {
  background: white;
  padding: 5rem;
  font-family: 'bulolight';
  font-size: 1.5em;
}
@media screen and (min-width: 48rem) {
  nav {
    height: 5rem;
    /*&.nav-full-height {
  			height:5rem;
  		}*/
  
  }
  nav ul li a {
    vertical-align: middle;
    line-height: 5rem;
    height: 5rem;
    margin-left: 0.4rem;
  }
}
@media screen and (min-width: 40rem) {
  nav ul li a:hover {
    background: rgba(0, 0, 0, 0.1);
  }
}
@media screen and (max-width: 48rem) {
  nav {
    height: auto;
  }
  nav ul {
    width: 100vw;
    display: block;
    height: auto;
  }
  nav li {
    width: 50%;
    float: left;
    position: relative;
    border-right: 0;
  }
  nav li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0;
  }
  nav a {
    width: 100%;
  }
}
@media only screen and (max-width: 30rem) {
  nav {
    border-bottom: 0;
    background: #3b3d4a;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    float: none;
  }
  nav li a {
    width: 85%;
    margin-left: -1.5rem;
    border-bottom: 1px solid lightgrey;
    border-right: 0;
  }
  nav li:last-child a {
    margin-bottom: 2rem;
  }
  nav li:first-child a {
    margin-top: 1rem;
  }
  nav a {
    text-align: left;
    text-indent: 25px;
  }
  nav #nav-toggle {
    display: block;
    position: fixed;
  }
  nav #nav-toggle i {
    display: block;
  }
}
@media only screen and (max-width: 20rem) {
  nav li {
    display: block;
    float: none;
    width: 100%;
  }
}
@media screen and (min-width: 48rem) {
  .header-text-and-logo .svg-icon {
    display: inline-block;
    position: relative;
    width: 50%;
    max-height: 10rem;
    max-width: 10rem;
    vertical-align: middle;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
  }
  .header-text-and-logo .home-header-text {
    color: white;
  }
  .header-text-and-logo .home-header-text h1 {
    font-size: 7em;
    margin: 0;
    font-family: 'coolvetica_rgregular';
    font-weight: normal;
  }
  .header-text-and-logo .home-header-text p.tagline {
    text-transform: uppercase;
    font-family: 'baufraregular';
    font-size: 1.4em;
    margin: 0;
    padding-top: 0.4rem;
  }
}
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
  }
  to {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  }
}
@-webkit-keyframes neonsvg {
  from {
    filter: drop-shadow(0 0 10px #ffffff);
    -webkit-filter: drop-shadow(0 0 10px #ffffff);
    -moz-filter: drop-shadow(0 0 10px #ffffff);
    -o-filter: drop-shadow(0 0 10px #ffffff);
    -ms-filter: drop-shadow(0 0 10px #ffffff);
  }
  to {
    filter: drop-shadow(0 0 5px #ffffff);
    -webkit-filter: drop-shadow(0 0 5px #ffffff);
    -moz-filter: drop-shadow(0 0 5px #ffffff);
    -o-filter: drop-shadow(0 0 5px #ffffff);
    -ms-filter: drop-shadow(0 0 5px #ffffff);
  }
}
@keyframes neon {
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
  }
  to {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  }
}
@keyframes neonsvg {
  from {
    filter: drop-shadow(0 0 10px #ffffff);
    -webkit-filter: drop-shadow(0 0 10px #ffffff);
    -moz-filter: drop-shadow(0 0 10px #ffffff);
    -o-filter: drop-shadow(0 0 10px #ffffff);
    -ms-filter: drop-shadow(0 0 10px #ffffff);
  }
  to {
    filter: drop-shadow(0 0 5px #ffffff);
    -webkit-filter: drop-shadow(0 0 5px #ffffff);
    -moz-filter: drop-shadow(0 0 5px #ffffff);
    -o-filter: drop-shadow(0 0 5px #ffffff);
    -ms-filter: drop-shadow(0 0 5px #ffffff);
  }
}
@-moz-keyframes neon {
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
  }
  to {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  }
}
@-moz-keyframes neonsvg {
  from {
    filter: drop-shadow(0 0 10px #ffffff);
    -webkit-filter: drop-shadow(0 0 10px #ffffff);
    -moz-filter: drop-shadow(0 0 10px #ffffff);
    -o-filter: drop-shadow(0 0 10px #ffffff);
    -ms-filter: drop-shadow(0 0 10px #ffffff);
  }
  to {
    filter: drop-shadow(0 0 5px #ffffff);
    -webkit-filter: drop-shadow(0 0 5px #ffffff);
    -moz-filter: drop-shadow(0 0 5px #ffffff);
    -o-filter: drop-shadow(0 0 5px #ffffff);
    -ms-filter: drop-shadow(0 0 5px #ffffff);
  }
}
@-o-keyframes neon {
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
  }
  to {
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  }
}
@-o-keyframes neonsvg {
  from {
    filter: drop-shadow(0 0 10px #ffffff);
    -webkit-filter: drop-shadow(0 0 10px #ffffff);
    -moz-filter: drop-shadow(0 0 10px #ffffff);
    -o-filter: drop-shadow(0 0 10px #ffffff);
    -ms-filter: drop-shadow(0 0 10px #ffffff);
  }
  to {
    filter: drop-shadow(0 0 5px #ffffff);
    -webkit-filter: drop-shadow(0 0 5px #ffffff);
    -moz-filter: drop-shadow(0 0 5px #ffffff);
    -o-filter: drop-shadow(0 0 5px #ffffff);
    -ms-filter: drop-shadow(0 0 5px #ffffff);
  }
}
@-webkit-keyframes scrolldown {
  0% {
    margin-top: -1rem;
  }
  50% {
    margin-top: -1.2rem;
  }
  100% {
    margin-top: -1rem;
  }
}
@keyframes scrolldown {
  0% {
    margin-top: -1rem;
  }
  50% {
    margin-top: -1.2rem;
  }
  100% {
    margin-top: -1rem;
  }
}
@-moz-keyframes scrolldown {
  0% {
    margin-top: -1rem;
  }
  50% {
    margin-top: -1.2rem;
  }
  100% {
    margin-top: -1rem;
  }
}
@-o-keyframes scrolldown {
  0% {
    margin-top: -1rem;
  }
  50% {
    margin-top: -1.2rem;
  }
  100% {
    margin-top: -1rem;
  }
}
